.catalog {
	margin-top: 50px;
	&__header {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	&__btn {
		width: 150px;
		height: 40px;
		background-color: green;
		border: none;
		border-radius: 5px;
	}
	&__link {
		color: #fff;
		text-decoration: none;
		font-size: 16px;
	}
}

.items {
	display: flex;
	flex-wrap: wrap;
}

.item {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	margin-right: 10px;
	padding: 10px;
	&__image {
		width: 150px;
		flex-grow: 1;
		img {
			width: 100%;
		}
	}
	&__btn {
		a {
			display: inline-block;
			width: 100%;
			height: 100%;
		}
	}
}

.item-info__img {
	width: 200px;
}

.item-info__model-window {
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(94, 93, 93, .8);
	position: absolute;
	top: 0;
	left: 0;
	&.active {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	form {
		width: 300px;
		display: flex;
		flex-direction: column;
		input {
			margin-bottom: 20px;
		}
		textarea {
			margin-bottom: 20px;
			resize: none;
		}
	}
}