.item-form {
	width: 300px;
	display: flex;
	flex-direction: column;
	&__title {
		height: 40px;
		padding: 0 5px;
		border-radius: 5px;
		margin-bottom: 20px;
	}
	&__desc {
		padding: 5px;
		border-radius: 5px;
		resize: none;
		margin-bottom: 20px;
	}
	&__btn {
		width: 120px;
		height: 40px;
		border: none;
		border-radius: 5px;
		margin-top: 20px;
	}

}