<template>
	<div class="item">
		<div class="item__image">
			<img
				v-if="item_data.image !== null"
				onerror="this.src='@/assets/img/No_image.png'"
				:src="item_data.image"
				:alt="item_data.title"
			/>
		</div>
		<h4 class="item__title">{{ item_data.title }}</h4>
		<p class="item__desc">{{ item_data.desc }}</p>
		<button class="item__btn">
			<router-link :to="'/item/' + item_data.id">Подробнее</router-link>
		</button>
		<button class="item__btn" v-on:click="deleteItem(item_data.id)">
			Удалить
		</button>
	</div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
	props: {
		item_data: {
			type: Object,
			default() {
				return {}
			}
		}
	},
	methods: {
		...mapActions(['DELETE_ITEM_FROM_STORE', 'GET_ITEMS_FROM_API']),
		deleteItem(itemId) {
			this.DELETE_ITEM_FROM_STORE(itemId)
		}
	},
	mounted() {
		this.GET_ITEMS_FROM_API()
	}
}
</script>
