<template>
	<div class="catalog">
		<div class="container">
			<div class="catalog__header">
				<button class="catalog__btn">
					<router-link class="catalog__link" to="/items-add"
						>Добавить товар</router-link
					>
				</button>
			</div>
			<div class="items">
				<Item v-for="item in ITEMS" :key="item.id" :item_data="item" />
			</div>
		</div>
	</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Item from '../ShopItems/Item.vue'
export default {
	components: {
		Item
	},
	computed: {
		...mapGetters(['ITEMS'])
	},
	methods: {
		...mapActions(['GET_ITEMS_FROM_API'])
	},
	mounted() {
		this.GET_ITEMS_FROM_API()
	}
}
</script>
