<template>
	<form class="item-form" @submit.prevent="addItem">
		<input
			class="item-form__title"
			type="text"
			placeholder="Название товара"
			v-model="form.title"
		/>
		<textarea
			class="item-form__desc"
			cols="30"
			rows="10"
			placeholder="Описание товара"
			v-model="form.desc"
		/>
		<input type="text" placeholder="Ссылка для картинки" v-model="form.image" />
		<button type="submit" class="item-form__btn">Добавить</button>
	</form>
</template>

<script>
import { mapActions } from 'vuex'
export default {
	data: function() {
		return {
			form: {
				title: '',
				desc: '',
				image: ''
			}
		}
	},
	methods: {
		...mapActions(['ADD_ITEM_TO_API']),
		addItem() {
			this.ADD_ITEM_TO_API(this.form)
		}
	}
}
</script>
