<template>
	<div class="item-info" v-if="ITEM !== null">
		<div class="container">
			<div class="item-info__btn">
				<button @click="toggleModal">Редактировать</button>
				<div :class="['item-info__model-window', { active }]">
					<form @submit.prevent="updateItem">
						<input type="text" v-model="formInfo.title" />
						<textarea v-model="formInfo.desc" />
						<input type="text" v-model="formInfo.image" />
						<div class="form-btn">
							<button type="submit">Сохранить</button>
							<button @click="closeModal">Закрыть</button>
						</div>
					</form>
				</div>
			</div>
			<img class="item-info__img" :src="ITEM.image" :alt="ITEM.title" />
			<h4>{{ ITEM.title }}</h4>
			<p>{{ ITEM.desc }}</p>
		</div>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import Vue from 'vue'
export default {
	data() {
		return {
			formInfo: {
				id: '',
				title: '',
				desc: '',
				image: ''
			},
			active: false
		}
	},
	computed: {
		...mapGetters(['ITEM'])
	},
	methods: {
		...mapActions(['GET_ITEM_FROM_API', 'UPDATE_ITEM_IN_STORE']),
		toggleModal() {
			this.active = !this.active
		},
		closeModal() {
			this.active = false
		},
		updateItem() {
			this.UPDATE_ITEM_IN_STORE(this.formInfo).then(() => {
				this.GET_ITEM_FROM_API(this.$route.params.id)
			})
			this.active = false
		}
	},
	mounted() {
		this.GET_ITEM_FROM_API(this.$route.params.id).then(() => {
			Vue.set(this.formInfo, 'title', this.ITEM.title)
			Vue.set(this.formInfo, 'id', this.ITEM.id)
			Vue.set(this.formInfo, 'desc', this.ITEM.desc)
			Vue.set(this.formInfo, 'image', this.ITEM.image)
		})
	}
}
</script>
