<template>
	<div class="content">
		<div class="container">
			<h4>Страница каталога</h4>
		</div>
		<Items />
	</div>
</template>

<script>
import Items from '@/components/ShopItems/Items.vue'

export default {
	components: {
		Items
	}
}
</script>
