<template>
	<div class="new-item">
		<div class="container">
			<ItemForm />
		</div>
	</div>
</template>

<script>
import ItemForm from '@/components/ShopItems/ItemForm.vue'

export default {
	components: {
		ItemForm
	}
}
</script>
