<template>
	<header class="header">
		<div class="container">
			<router-link to="/">
				<img class="header__logo" src="../assets/img/logo.svg" alt="Магазин" />
			</router-link>
		</div>
	</header>
</template>
